* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.nav-head {
    margin-top: 2%;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    background-color: #49BF4C;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    transition: 0.6s;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #49BF4C;
    color: white;
}

.dropdown-menu {
    background-color: #002633;
    border: 1px solid #002633;
}


/* .dropdown-menu:hover {
    background-color: #49BF4C;
} */

.dropdown-item {
    color: white;
    background-color: #002633;
}

img {
    display: block;
    height: auto;
    border: 0;
}

p {
    color: gray
}

.logo img {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

#banner-head {
    margin-top: 5%;
    background-color: #002633;
    height: 500px;
    width: 100%;
}

.banner {
    padding-top: 5%;
}

.banner-eliment {
    padding: 10%;
    font-weight: bold;
}

.banner-eliment h1 {
    padding-bottom: 4%;
}

.head-card {
    margin-top: 10%;
}

.pera {
    color: white;
}

.text-color {
    color: black;
}

.text-color h1 {
    text-transform: uppercase;
}

#heroes {
    margin-top: 5%;
    background-color: #49BF4C;
    height: 350px;
    width: 100%;
}

.text {
    padding: 4%;
    text-align: center;
    color: white;
}

.text h1 {
    font-size: 50px;
}

.text p {
    color: thistle;
    font-size: 20px;
    padding-top: 2%;
}

.card {
    border: none;
}

.bio {
    margin-bottom: 4%;
    text-align: center;
    width: 400px;
    height: 400px;
}

.bio img {}

span {
    color: #49BF4C;
}

.Text {
    text-align: center;
    color: #002633;
}

.Text h2 {
    margin-top: 3%;
    font-size: 3rem;
    letter-spacing: -2px;
    font-weight: 300px;
}

.Text p {
    margin-top: 3%;
    color: #777;
    font-size: 20px !important;
    line-height: 1.4;
    font-weight: 300px;
}

.align img {
    text-align: center;
    padding-left: 45%;
}

.browser {
    color: #49BF4C;
    text-align: center;
    font-size: 25px;
}